<h1>My To-Do List</h1>
    <ol>
      <%@todos.each do |todo|%>
      <li>
        <input type="checkbox"/>
        <a href="/todo/show/<%=todo.id%>"><%=todo.description%> </a><span class="pomodoros_estimate"><%=todo.pomodoros_estimate%> pomodoros </span>
      </li>
      <%end%>
    </ol>
    
    <div>
        <a href="/todo/new">Add ToDo</a>
    </div>