<h1>My To-Do List</h1>
    <ol>
      <li>
        <input type="checkbox"/>
        <a href="/todo/show">Prepare for school </a><span>August 5</span>
      </li>
      <li>
        <input type="checkbox"/>
        <a href="/todo/show">Prepare forms</a> <span>August 5</span> 
      </li> 
      <li>
        <input type="checkbox"/>
        <a href="/todo/show">Prepare Lunch</a> <span>August 5</span>
      </li>
      <li>
        <input type="checkbox"/>
        <a href="/todo/show">Cook Breakfast</a> <span>August 6</span>
      </li>
    </ol>
    
    <div>
        <input type="text" placeholder="New To-Do Description..."/>
        <input type="Submit" value="Add to List"/>
    </div>