<h1>My To-Do List</h1>
    <ol>
      <li>
        <input type="checkbox"/>
        <a href="/todo/show/1">Prepare for school </a><span>August 5</span>
      </li>
      <li>
        <input type="checkbox"/>
        <a href="/todo/show/2">Prepare Lunch</a> <span>August 5</span>
      </li>
      <li>
        <input type="checkbox"/>
        <a href="/todo/show/3">Cook Breakfast</a> <span>August 6</span>
      </li>
    </ol>
    
    <div>
        <a href="/todo/new">Add ToDo</a>
    </div>