<div style="text-align:center">
<h1>New Todo</h1>
<form action="/todo/create">
    <input type="text" name="description" placeholder="Enter new description..."><br></br>
    <input type="number" name="pomodoros_estimate" placeholder="Pomodoros estimate..."> 
    <input type="submit" value="Add ToDo">
    <a href="/todos">Go Back</a>
</form>
</div>